<table   class="table table-striped" >
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Login</th>
          <th scope="col">Senha</th>
          <th scope="col">Data d. Nasc.</th>
          <th scope="col">Excluir</th>
          <th scope="col">Editar</th>
        </tr>
        
      </thead>
      <tbody >
        <tr *ngFor="let pessoa of pessoas" >
          <th scope="row">{{pessoa.id}}</th>
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.login}}</td>
          <td>{{pessoa.senha}}</td>
          <td *ngIf="pessoa.dataDeNascimento != null;else pessoaNull">{{pessoa.dataDeNascimento| date:'dd/MM/YYYY'}}</td>
          <ng-template #pessoaNull><td class="text-center"><div class="badge bg-info">Não Informado</div></td></ng-template>
          <td>  <button type="button" class="btn btn-danger" (click)="excluir(pessoa.id)">Excluir</button>
          <td>  <button type="button" class="btn btn-primary" >Editar</button>
          </td>
        </tr>
      </tbody>
  </table>
