

<table   class="table table-striped" >
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Preço</th>
              <th scope="col">Excluir</th>
              <th scope="col">Editar</th>
            </tr>
            
          </thead>
          <tbody >
            <tr *ngFor="let items of prod" >
              <th scope="row">{{items.id}}</th>
              <td>{{items.nome}}</td>
              <td>{{items.preco | currency : 'R$'}}</td>
              <td>  <button type="button" class="btn btn-danger" (click)="excluirItem(items.id)">Excluir</button>
              <td>  <button type="button" class="btn btn-primary" (click)="alterar(items.id)">Editar</button>
              </td>
            </tr>
          </tbody>
      </table>
      


